[Unit]
Description=GitLab Workhorse
After=gitlab-ce-puma.service
PartOf=gitlab-ce.target

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/usr/lib/gitlab
# listen on unix socket (nginx)
ExecStart=/usr/sbin/gitlab-workhorse -listenUmask 0 -authBackend http://localhost:8080 -authSocket /var/run/gitlab/gitlab.socket -documentRoot /usr/lib/gitlab/public -listenNetwork unix -listenAddr /var/run/gitlab/gitlab-workhorse.socket
# listen on tcp port (apache)
#ExecStart=/usr/sbin/gitlab-workhorse -listenUmask 0 -authBackend http://localhost:8080 -authSocket /var/run/gitlab/gitlab.socket -documentRoot /usr/lib/gitlab/public -listenNetwork tcp  -listenAddr 0.0.0.0:8181
Restart=on-failure

[Install]
WantedBy=multi-user.target
