[Unit]
Description=GitLab Workhorse
After=gitlab-ce-puma.service
PartOf=gitlab-ce.target

[Service]
Type=simple
User=git
Group=git
WorkingDirectory=/usr/lib/gitlab
EnvironmentFile=/etc/sysconfig/gitlab-workhorse
ExecStart=/usr/sbin/gitlab-workhorse $OPTIONS $LISTEN_OPTIONS
Restart=on-failure

[Install]
WantedBy=multi-user.target
